.mainContainer {
    border: 2px solid black;
    height: 95vh;
}

#mainAddButton {
    margin: 10px;
}

.container {
    margin: 10px;
    border: 2px solid black;
    height: 80vh;
}

.box {
    height: 150px;
    width: 150px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
}


.innercross {
    position: absolute;
    right: 0px;
    top: 1px;
    cursor: pointer;
    font-weight: bold;
}


.subcontainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-left: 10px;
    height: 72vh;
    margin-right: 10px;
}
.cross {
    right: 10px;
    top: 10px;
    cursor: pointer;
    position: relative;
    float: right;
}

span {
    font-weight: bold;
    margin-left: 10px;
    position: relative;
    float: right;
}

span:hover {
    cursor: pointer;
}

#page {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

